---
import type {Links} from "../../types/ResumeTypes";
import Card from "./Card.astro";

interface Props {
    links: Links;
}

const {links} = Astro.props;
---

<Card title="Links">
    <div class="links">
        {Object.entries(links).map((value) => (
                <a class="link" title=`Link to my page on ${value[0]}` target="_blank"
                   href={value[1]}>{value[0]}</a>
        ))}
    </div>
</Card>

<style>
    .links {
        display: flex;
        gap: 1rem;
    }
</style>