---
import type {ResumeConfig} from '../types/ResumeTypes'
import Layout from '../layouts/Layout.astro';

import WorkCard from "../components/card/WorkCard.astro";
import ProjectsCard from "../components/card/ProjectsCard.astro";
import LinksCard from "../components/card/LinksCard.astro";
import AboutCard from "../components/card/AboutCard.astro";

const config: ResumeConfig = {
    headline: `- Software Engineer<br>- Computer Science student @ <a target=\"_blank\" href=\"https://www.helsinki.fi/\">University of Helsinki</a>.<br><br>Based in 🇫🇮 Finland`,
    work: [
        {
            name: "Vyce Games",
            role: "Java Developer",
            time: "July 2024 - September 2024",
        },
        {
            name: "SpeedSilver Limited",
            role: "Server Developer",
            time: "November 2022 - February 2023"
        },
    ],
    projects: [
        {
            name: "Tooltips",
            description: "Premium Minecraft plugin with 170+ sales",
            time: "May 2024 - Now",
            links: {
                "Spigot (Account required)": "https://spigotmc.org/resources/109912",
                GitHub: "https://github.com/Septicuss/tooltips",
            }
        }
    ],
    links: {
        GitHub: "https://github.com/Septicuss",
        X: "https://x.com/Septicuss",
        LinkedIn: "https://www.linkedin.com/in/balaban-vladis/"
    }
}
---

<Layout>
    <main>

        <div id="hero">
            <h1>Vladislav Balaban</h1>
            <span id="aka">Septicuss</span>
        </div>

        <AboutCard headline={config.headline}/>
        <WorkCard work={config.work}/>
        <ProjectsCard projects={config.projects}/>
        <LinksCard links={config.links}/>

    </main>
</Layout>

<!------------------------------->

<style>

    * {
        font-family: monospace;
        --title: #000000;
        --subtitle: darkgray;
    }

    #hero {
        h1 {
            margin-bottom: 0;
        }

        #aka {
            color: var(--subtitle);
        }
    }

    main {
        display: flex;
        align-items: start;
        flex-direction: column;
        justify-content: center;
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 2rem;
    }

</style>
